:root {
  --clr-primary: #DC0A2D;
  --clr-backGround: #EFEFEF;
  --clr-border: #666666;
  --clr-white: #FFFFFF;
  --clr-bug: #A7B723;
  --clr-light: #E0E0E0;
  --clr-fire: #F57D31;
  --clr-fire: #F57D31;
  --clr-fire: #F57D31;
  --clr-water: #6493EB;
  --clr-grass: #74CB48;
  --clr-electric: #F9CF30;
  --clr-ghost: #70559B;
  --clr-psychic: #FB5584;
  --clr-ground: #DEC16B;
  --clr-steel: #B7B9D0;
  --clr-ice: #9AD6DF;
  --clr-poison: #A43E9E;
  --clr-rock: #B69E31;
  --clr-dark: #75574C;
  --clr-dragon: #7037FF;
  --clr-fairy: #E69EAC;
  --clr-flying: #A891EC;
  --clr-fighting: #C12239;
}

